<main id="news-updates">
  <header class="intro">
    <h1 class="heading-xlarge">Latest updates from the Flood Information Service</h1>
  </header>
  <div class="grid-row">
    <div class="column-three-quarters">
      <h2 class="heading-small">Keep sending your feedback</h2>
      <p>
        We value all the feedback we get. It helps confirm what we’re getting right and highlights any areas we need to improve.
      </p>
      <p>
        What do you think of the service? <a href="/feedback">Tell us now</a>.
      </p>
      <h2 class="heading-small">What are people who use the service saying?</h2>
      <p>
        Here’s how we’ve responded to some of the questions we’ve been asked about the <a href="/river-and-sea-levels">river and sea level service</a>.
      </p>
      <h2 class="heading-small">What’s happened to the river and sea level service?</h2>
      <p>
        The Environment Agency has provided river and sea level information online for over 2,000 locations since 2010.
        In September 2015, after lots of input from the people who use it, the redesigned <a href="/river-and-sea-levels">river and sea level service</a> was launched.
        This was part of a <a href="https://www.gov.uk">government-wide upgrade</a> of online services.
      </p>
      <h2 class="heading-small">How has it been improved?</h2>
      <p>
        It’s now part of the wider <a href="/">Flood Information Service</a>.
        People in flood risk areas can now combine flood warnings with river level information and take action.
      </p>
      <p>
        Also, local Environment Agency flood teams can make changes to river and sea level information in response to local knowledge or feedback from customers much more quickly than before.
      </p>
      <h2 class="heading-small">I can’t find my local river or sea level monitoring station</h2>
      <p>
        You can find river or sea levels for any location in England by entering a postcode or place in the new <a href="/river-and-sea-levels">search tool</a>.
        You can also zoom in and out, or move around within the <a href="/river-and-sea-levels">map showing the national network of monitoring stations in England</a>.
      </p>
      <p>
        When you enter your location, you’ll see a list of the closest monitoring stations.
        Selecting any of these links will take you to the river or sea level details for that station.
        You can then bookmark this page for future use, view alternative locations from the list, or select any of the nearby stations on the map.
      </p>
      <h2 class="heading-small">How often are river and sea levels measured?</h2>
      <p>
        Monitoring stations measure water levels every 15 minutes.
        This data is collected and then fed into the service once or twice a day under normal conditions.
        The frequency of this collection is increased whenever there's a greater risk of flooding.
        If this happens, the information is automatically made available online as quickly as possible.
      </p>
      <p>
        The Environment Agency is reviewing options for increasing the data transfer frequency between the monitoring stations and the data presented online.
        This would require a technical upgrade and increase costs.
        Such investment would need to be considered alongside other flood-related improvements.
      </p>
      <p>
        Is there anything about the <a href="/">Flood Information Service</a> you’d like to know? <a href="/feedback">Send your feedback</a>
      </p>
    </div>
  </div>
</main>
