<h1 id="title" class="heading-xlarge" style="margin-bottom: 30px" tabindex="0">Flood warnings for:<br>{{formattedAddress}}</h1>
<p id="scotland-warning" class="warning-desc">
  Flood warning information for Scotland is available on the <a rel="external" href="http://www.sepa.org.uk/flooding.aspx" title="Scottish Environment Protection Agency website" >Scottish Environment Protection Agency website </a>
</p>
<p>
  Alternatively, you can <a href="/" title="view flood warning information for England or Wales">view flood warning information for England or Wales</a>
</p>
