<meta http-equiv="refresh" content="{{pageRefreshTime}}"/>
<link rel="stylesheet" href="{{{assetPath}}}stylesheets/application.css">
<!--[if IE 6]><link href="{{{assetPath}}}stylesheets/application-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 7]><link href="{{{assetPath}}}stylesheets/application-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if IE 8]><link href="{{{assetPath}}}stylesheets/application-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
<!-- Application version: {{appVersion}} -->
<link rel="stylesheet" href="{{{assetPath}}}fonts/style.css">
<script src="{{{assetPath}}}javascripts/jquery.min.js"></script>
<script src="{{{assetPath}}}javascripts/core.js"></script>
