/* Media Object */
.media {
  overflow: hidden;
  margin-bottom: 20px;
  display: block;
  .img {
    float: left;
    display: block;
    margin-right: 10px;
  }
  .content {
    overflow: hidden;
    display: block;
  }
}
.secondary-links {
  .media {
    .img {
      width: 60px;
    }
  }
}

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Floats */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

/* Screen reader */
.sr-fix {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* no-js / old-ie */
.noscript-iframe {
  display: block;
  margin-top: 30px;
}
.js-enabled .noscript-iframe {
  display: none;
}
// Turn off when Javascript is off
.nojs-hide {
  display: none;
}
.js-enabled .nojs-hide {
  display: block;
}
// Turn on when Javascript is off
.nojs-show {
  display: block;
}
.js-enabled .nojs-show {
  display: none;
}
// IE 6/7/8 Turn off when Javascript is turned on
.lte-ie8 {
  .ie-hide {
    display: none;
  }
  .ie-show {
    display: block;
  }
}
.ie-show {
  display: none;
}

/* General Hide / Show */
.show {
  display: block;
}
.hide {
  display: none;
}

.visible-mobile {
  @include media(tablet) {
    display: none!important;
  }
}

.hidden-mobile {
  @include media(mobile) {
    display: none!important;
  }
}
