
<div class="fs nojs-hide ie-hide">
    <div id="map" title="National monitoring station network" class="map map-min"></div>
    <div class="legend">
      <ul>
        <li class="round blue">Monitoring station</li>
        <li class="round amber">Monitoring station with flood risk</li>
        <li class="round grey">Monitoring station unavailable</li>
      <ul>
    </div>
</div>


<div id="station-popup" class="station-popup nojs-hide ie-hide">
  <div id="station-popup-content">
  </div>
</div>

<div class="map-info nojs-hide ie-hide">
  <p>
    <img src="{{{assetPath}}}images/zoom-river-levels.png" alt="Zoom map icon" class="hidden-mobile">
    <span>Zoom into the map and select a river or sea level station to see more information.</span>
  </p>
</div>
